/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


@media (min-width: 768px) {
  /* Estilos para pantallas grandes */
  .container {
    height: 400px;
  }


}

p {
  color: #000000; /* Color del texto */
  text-decoration: none; /* Quitar subrayado */
  font-weight: bold; /* Hacer el texto en negrita */
  padding: 10px 15px; /* Espaciado interno */
  /*border: 2px solid #007bff; */ /* Borde alrededor */
  border-radius: 5px; /* Bordes redondeados */
  background-color: rgba(255, 255, 255, 0.5); /* Fondo */
  
  transition: all 0.3s ease; /* Transición para hover */

}


.styled-link {
  color: #007bff; /* Color del texto */
  text-decoration: none; /* Quitar subrayado */
  font-weight: bold; /* Hacer el texto en negrita */
  padding: 10px 15px; /* Espaciado interno */
  border: 2px solid #007bff; /* Borde alrededor */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo */
  transition: all 0.3s ease; /* Transición para hover */
}

.styled-link:hover {
  color: #fff; /* Cambiar color de texto al pasar el mouse */
  background-color: #007bff; /* Cambiar fondo */
  border-color: #0056b3; /* Cambiar color del borde */
}



.background-div {
  width: 100%; /* Ancho completo */
  height: 400px; /* Altura del div */
  background-image: url('../img/background.JPG'); /* Imagen de fondo */
  background-size: cover; /* Escalar la imagen para cubrir todo el área */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
  display: flex; /* Para centrar contenido dentro del div */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  color: white; /* Color del texto para que contraste */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
}

.background-div1 {
  width: 100%; /* Ancho completo */
  height: 400px; /* Altura del div */
  background-image: url('../img/background1.JPG'); /* Imagen de fondo */
  background-size: cover; /* Escalar la imagen para cubrir todo el área */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
  display: flex; /* Para centrar contenido dentro del div */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  color: white; /* Color del texto para que contraste */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
}
.background-div2 {
  width: 100%; /* Ancho completo */
  height: 400px; /* Altura del div */
  background-image: url('../img/background2.JPG'); /* Imagen de fondo */
  background-size: cover; /* Escalar la imagen para cubrir todo el área */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
  display: flex; /* Para centrar contenido dentro del div */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  color: white; /* Color del texto para que contraste */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra en el texto */
}



